.btn{
    text-decoration: none;
    font-size: $default-font-size; 

    &--1{
        padding: 1.2rem 3.8rem 1.2rem 2rem;
        color: $color-white;
        border: 0.1rem solid $color-white;
        transition: 0.4s;
        border-radius: 0.1rem;
        &:after{
            content: "→";
            display: inline-block;
            position: absolute;
            margin-left: 0.8rem;
            color: $color-white;
            transition: 0.4s;
            backface-visibility: hidden;
        }
        &:hover, &:active{
            color: $color-main;
            border-color: $color-main;
            background-color: rgba($color-white, 0.2);
            &:after{
                transform: rotate(90deg);
                color: $color-main;
            }
        }
    }
    &--2{
        padding: 1.2rem 2rem;
        border: 0.2rem solid $color-secondary-dark;
        color: $color-secondary-dark;
        border-radius: 0.4rem;
        
        font-size: 2rem;
        box-shadow: 0.2rem 0.4rem 0.7rem 0.3rem rgba(0,0,0,0.5);
        width: fit-content;
        &:hover, &:active{
            background-color: #feb236;
        }
        @include respond(tab-port){
            font-size: $default-font-size;
        }

    }
} 