.card{
    position: relative;
    &__img{
        width: 100%;
    }
    &:hover &__img , &:active &__img{
        filter: opacity(60%);
    }
    &:hover > div {
        opacity: 1;
        animation: title 0.8s both;
    }
    &__title{
        width: 60%;
        opacity: 0;
        transition: 0.8s;
        position: absolute;
        top: 0;
        left: 50%;
        text-align: center;
        transform: translateX(-50%);
        font-size: 1.9rem;
        font-weight: 700;
        background-color: $color-white;
        padding: 1rem;
        border-radius: 0.5rem;
        border: 0.1rem solid $color-main;
    }
    &__img:hover  &__title, &__img:active  > &__title{
        opacity: 1;
        font-size: 1.9rem;
        animation: title 0.8s both;
    }

}
@keyframes title{
    0%{}
    100%{
        top: 20%;
    }
}
@keyframes button{
    0%{bottom: 0}
    100%{
       
    }
}