*, *:after,*:before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    scroll-behavior: smooth;
    font-size: 50%;
    @include respond(tab-port){
        font-size: 56.25%;
    }
    @include respond(tab-land){
        font-size: 62.5%;
    }
    @include respond(desktop){
        font-size: 70%;
    }
}
body{
    box-sizing: border-box;
}