.container-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 3rem;
    margin-top: 8rem;
    @include respond(desktop){
        grid-template-columns: repeat(auto-fit, minmax(20rem, 30rem));
      justify-content: center;
      
    }
}
