//GENERAL COLORS
$color-black:#000;
$color-white:#fff;
$color-grey:#999;
$color-grey-dark-1:#777;
$color-grey-dark-2:#555;
$color-grey-dark-3:#333;
$color-grey-light-1:#d3d3d3;
$color-grey-light-2:#e0e0e0;
$color-grey-light-3:#f1f1f1;
$color-blue: #0000ff;
$color-contact:#3b43b3;

//PALLETE
$color-main:#eb005a;
$color-main-light:#e9568e;
$color-main-dark:#960039;
$color-secondary:#04C2C9;
$color-secondary-dark:rgb(8, 153, 158);


//FONT
$default-font-size:1.6rem;