.header{
    background-image: url('../img/header.jpg');
    height: 100vh;
    background-size: cover; 
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    background-blend-mode: soft-light;
    &__text-box{   
        background-color: rgba($color-white, 0.5);
        color: $color-black;
        text-align: center;
        width:fit-content;
        border-radius: 0.5rem;
        padding: 3rem ;
        letter-spacing: 0.1rem;
        animation: heading-primary 0.8s;
    }
}

@keyframes heading-primary{
    0%{
        transform: translateY(4rem);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}